.circleContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: auto;
    left: 100%;
    top: 20%;
  }

  .circleSvg {
    width: 10vw;
  }

  .circle {
    cx: 60;
    cy: 60;
    r: 50;
    stroke-dasharray: calc(3.14159 * (10vw - 8px));
    stroke-dashoffset: calc(3.14159 * (10vw - 8px));
    stroke-width: 8px;
    stroke: rgba(0, 0, 255, 0.7);
    fill: rgba(255, 255, 255, 0.2);
    animation: drawCircle 3s linear forwards;
  }

  .counter{
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    fill: rgba(0, 0, 255);
    text-anchor: middle;
    dominant-baseline: middle;
  }

  @keyframes drawCircle {
    to {
      stroke-dashoffset: 0;
    }
  }